# https://doc.dovecot.org/admin_manual/submission_server/?highlight=submission
# https://github.com/dovecot/core/blob/master/doc/example-config/conf.d/20-submission.conf

submission_relay_host = {{ .Env.SUBMISSION_HOST }}
submission_relay_port = 25
submission_relay_trusted = yes

protocol submission {
}
