version = {{ .Env.LDAP_VERSION}}
start_tls = {{ .Env.LDAP_START_TLS}}
server_host = {{ .Env.LDAP_SERVER_HOST}}
search_base = {{ .Env.LDAP_SEARCH_BASE}}
bind = yes
bind_dn = {{ .Env.LDAP_BIND_DN}}
bind_pw = {{ .Env.LDAP_BIND_PW}}
query_filter = {{ .Env.LDAP_QUERY_FILTER_RECIPIENT}}

#result_attribute = mail, mailalias
result_attribute = mail

result_format = OK %s